<div class="container-fluid">
    <div class="box">
        <div class="box-row">
            <div class="box-row-flex">
                <span class="material-symbols-outlined">add</span>
                <p>Add New Task</p>
            </div>
        </div>
        <div class="box-row">
            <div class="box-row-flex">
                <span class="material-symbols-outlined">add</span>
                <p>Add New Task</p>
            </div>
        </div>
        <div class="box-row">
            <div class="box-row-flex">
                <span class="material-symbols-outlined">add</span>
                <p>Add New Task</p>
            </div>
        </div>
        <div class="box-row">
            <div class="box-row-flex">
                <span class="material-symbols-outlined">add</span>
                <p>Add New Task</p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-row">
            <div class="box-row-data">
                <div class="title">
                    <p>UX stoges</p>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </div>
                <div class="detail">
                    <h3>Jay love Nice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio quisquam culpa adipisci
                        molestias vero repellendus et voluptatem nemo accusantium doloremque, quas explicabo provident
                        soluta harum aperiam libero ratione sequi.</p>
                </div>
                <div class="icon">
                    <span class="material-symbols-outlined">
                        checklist
                    </span>
                    <p>0/4</p>
                </div>
                <hr>
                <div class="footer">
                    <img src="../../assets/rendering-bee-anime-character.jpg" alt="" width="50px">
                    <div class="footer-icon">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            attach_file
                        </span>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-row">
            <div class="box-row-data">
                <div class="title">
                    <p>UX stoges</p>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </div>
                <div class="detail">
                    <h3>Jay love Nice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio quisquam culpa adipisci
                        molestias vero repellendus et voluptatem nemo accusantium doloremque, quas explicabo provident
                        soluta harum aperiam libero ratione sequi.</p>
                </div>
                <div class="icon">
                    <span class="material-symbols-outlined">
                        checklist
                    </span>
                    <p>0/4</p>
                </div>
                <hr>
                <div class="footer">
                    <img src="../../assets/rendering-bee-anime-character.jpg" alt="" width="50px">
                    <div class="footer-icon">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            attach_file
                        </span>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-row">
            <div class="box-row-data">
                <div class="title">
                    <p>UX stoges</p>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </div>
                <div class="detail">
                    <h3>Jay love Nice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio quisquam culpa adipisci
                        molestias vero repellendus et voluptatem nemo accusantium doloremque, quas explicabo provident
                        soluta harum aperiam libero ratione sequi.</p>
                </div>
                <div class="icon">
                    <span class="material-symbols-outlined">
                        checklist
                    </span>
                    <p>0/4</p>
                </div>
                <hr>
                <div class="footer">
                    <img src="../../assets/rendering-bee-anime-character.jpg" alt="" width="50px">
                    <div class="footer-icon">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            attach_file
                        </span>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-row">
            <div class="box-row-data">
                <div class="title">
                    <p style="background-color: #ffb0b0; color: hsl(0, 100%, 61%);">Branding</p>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </div>
                <div class="detail">
                    <h3>Jay love Nice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio quisquam culpa adipisci
                        molestias vero repellendus et voluptatem nemo accusantium doloremque, quas explicabo provident
                        soluta harum aperiam libero ratione sequi.</p>
                </div>
                <div class="icon" style="border: 1px solid #00d15e;color: #00d15e;">
                    <span class="material-symbols-outlined">
                        checklist
                    </span>
                    <p>0/4</p>
                </div>
                <hr>
                <div class="footer">
                    <img src="../../assets/rendering-bee-anime-character.jpg" alt="" width="50px">
                    <div class="footer-icon">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            attach_file
                        </span>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-row">
            <div class="box-row-data">
                <div class="title">
                    <p style="background-color: #ddd0ff; color: hsl(256, 93%, 43%);">Design</p>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </div>
                <div class="detail">
                    <h3>Jay love Nice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio quisquam culpa adipisci
                        molestias vero repellendus et voluptatem nemo accusantium doloremque, quas explicabo provident
                        soluta harum aperiam libero ratione sequi.</p>
                </div>
                <div class="icon">
                    <span class="material-symbols-outlined">
                        checklist
                    </span>
                    <p>0/4</p>
                </div>
                <hr>
                <div class="footer">
                    <img src="../../assets/rendering-bee-anime-character.jpg" alt="" width="50px">
                    <div class="footer-icon">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            attach_file
                        </span>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-row">
            <div class="box-row-data">
                <div class="title">
                    <p>UX stoges</p>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </div>
                <div class="detail">
                    <h3>Jay love Nice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio quisquam culpa adipisci
                        molestias vero repellendus et voluptatem nemo accusantium doloremque, quas explicabo provident
                        soluta harum aperiam libero ratione sequi.</p>
                </div>
                <div class="icon">
                    <span class="material-symbols-outlined">
                        checklist
                    </span>
                    <p>0/4</p>
                </div>
                <hr>
                <div class="footer">
                    <img src="../../assets/rendering-bee-anime-character.jpg" alt="" width="50px">
                    <div class="footer-icon">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            attach_file
                        </span>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-row">
            <div class="box-row-data">
                <div class="title">
                    <p>UX stoges</p>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </div>
                <div class="detail">
                    <h3>Jay love Nice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio quisquam culpa adipisci
                        molestias vero repellendus et voluptatem nemo accusantium doloremque, quas explicabo provident
                        soluta harum aperiam libero ratione sequi.</p>
                </div>
                <div class="icon">
                    <span class="material-symbols-outlined">
                        checklist
                    </span>
                    <p>0/4</p>
                </div>
                <hr>
                <div class="footer">
                    <img src="../../assets/rendering-bee-anime-character.jpg" alt="" width="50px">
                    <div class="footer-icon">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            attach_file
                        </span>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-row">
            <div class="box-row-data">
                <div class="title">
                    <p>UX stoges</p>
                    <span class="material-symbols-outlined">
                        more_vert
                    </span>
                </div>
                <div class="detail">
                    <h3>Jay love Nice</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio quisquam culpa adipisci
                        molestias vero repellendus et voluptatem nemo accusantium doloremque, quas explicabo provident
                        soluta harum aperiam libero ratione sequi.</p>
                </div>
                <div class="icon">
                    <span class="material-symbols-outlined">
                        checklist
                    </span>
                    <p>0/4</p>
                </div>
                <hr>
                <div class="footer">
                    <img src="../../assets/rendering-bee-anime-character.jpg" alt="" width="50px">
                    <div class="footer-icon">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        <p>1</p>
                        <span class="material-symbols-outlined">
                            attach_file
                        </span>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>